<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Test du Modèle</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    </head>

    <body>
        <h2>Test du Modèle</h2>
        <label for="textInput">Entrez votre texte :</label>
        <input type="text" id="textInput" placeholder="Saisissez votre texte ici" style="width: 300px;">
        <button onclick="predict()">Faire la prédiction</button>
        <div id="predictionResult"></div>

        <script src="../static/js/script.js"></script>
    </body>
</html>
