<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI SPOTTER</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
<h1>AI SPOTTER</h1>
<p>AI SPOTTER est un projet qui utilise un modèle d'intelligence artificielle pour effectuer des prédictions.</p>

<div class="input-container">
    <label for="textInput">Entrez votre texte :</label>
    <textarea id="textInput" placeholder="Saisissez votre texte ici"></textarea>
    <button onclick="predict()">Faire la prédiction</button>
</div>

<div id="predictionResult"></div>

<script src="../static/js/script.js"></script>
</body>
</html>
